<div id='header' class='center'>{{{header}}}</div>
<div id='trailingSnippet' class='center'>{{{trailingSnippet}}}</div>
<div id='lastPathSnippet' class='center'>{{{lastPathSnippet}}}</div>
<div id='nodeSnippet' class='center'>{{{nodeSnippet}}}</div>

<div id='votification' class='center'>{{{votification}}}</div>

<div id='votifiedPaths' class='center'>{{{votifiedPaths}}}</div>

<div id='authoring' class='center'>{{{authoring}}}</div>